SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF


-----------------------------------------------------------------------------------------
-- Fonction		: DBG_TRACEEXPLOITATION
-- Paramètre d'entrée	: 
-- Paramètre de sortie	: 
-- Descriptif		: Consultation des traces exploitation
-----------------------------------------------------------------------------------------

CREATE FUNCTION [dbo].[DBG_TRACEEXPLOITATION] ()
	RETURNS TABLE
AS

	RETURN (SELECT TEX_ID, TEX_DATE, ISNULL(LIB_LIBELLE, '') TEX_LIBELLE, TEX_IDMODE, TEX_IDAGV
		FROM TRACE_EXPLOITATION (NOLOCK), TYPE_TRACE (NOLOCK), LIBELLE (NOLOCK) WHERE TEX_TYPETRC = TTC_TYPE AND LIB_TRADUCTION = TTC_IDTRADUCTION
		AND LIB_LANGUE = (SELECT PAR_VAL FROM PARAMETRE (NOLOCK) WHERE PAR_NOM = 'LANGUE'))


