SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF


-----------------------------------------------------------------------------------------
-- Fonction		: DBG_TRACECHARGE
-- Paramètre d'entrée	: 
-- Paramètre de sortie	: 
-- Descriptif		: Consultation des traces charge
-----------------------------------------------------------------------------------------

CREATE FUNCTION [dbo].[DBG_TRACECHARGE] ()
	RETURNS TABLE
AS

	RETURN (SELECT TRC_ID, TRC_DATE, ISNULL(LIB_LIBELLE, '') TRC_LIBELLE, TRC_IDCHARGE, TRC_ADRSYS, TRC_ADRBASE, TRC_ADRSSBASE, TRC_IDCLIENT,
		TRC_ORIENTATION, TRC_POSX, TRC_POSY, TRC_POSZ, TRC_POIDS, TRC_HAUTEUR, TRC_LARGEUR, TRC_LONGUEUR, TRC_PRODUIT,
		TRC_GABARIT, TRC_EMBALLAGE, TRC_COUCHE, TRC_RANG, TRC_FACE
		FROM TRACE_CHARGE (NOLOCK), TYPE_TRACE (NOLOCK), LIBELLE (NOLOCK) WHERE TRC_TYPETRC = TTC_TYPE AND LIB_TRADUCTION = TTC_IDTRADUCTION
		AND LIB_LANGUE = (SELECT PAR_VAL FROM PARAMETRE (NOLOCK) WHERE PAR_NOM = 'LANGUE'))



