SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF


-----------------------------------------------------------------------------------------
-- Fonction		: DBG_TRACEORDREAGV
-- Paramètre d'entrée	: 
-- Paramètre de sortie	: 
-- Descriptif		: Consultation des traces ordre AGV
-----------------------------------------------------------------------------------------

CREATE FUNCTION [dbo].[DBG_TRACEORDREAGV] ()
	RETURNS TABLE
AS

	RETURN (SELECT TRO_ID, TRO_DATE, LIB_LIBELLE TRO_LIBELLE, ISNULL(dbo.SPV_DECODEVALEURORDREAGV(TRO_DSCTRC, TRO_TYPETRC), '') TRO_DETAIL, TRO_IDORDRE, TRO_IDAGV,
		TRO_ADRSYS, TRO_ADRBASE, (SELECT LIB_LIBELLE FROM ACTION (NOLOCK), LIBELLE (NOLOCK) WHERE ACT_IDACTION = TRO_ACTPRIMAIRE AND LIB_TRADUCTION = ACT_IDTRADUCTION
		AND LIB_LANGUE = (SELECT PAR_VAL FROM PARAMETRE (NOLOCK) WHERE PAR_NOM = 'LANGUE')) TRO_ACTPRIMAIRE, TRO_ACTSECONDAIRE
		FROM TRACE_ORDRE_AGV (NOLOCK), TYPE_TRACE (NOLOCK), LIBELLE (NOLOCK) WHERE TRO_TYPETRC = TTC_TYPE AND LIB_TRADUCTION = TTC_IDTRADUCTION
		AND LIB_LANGUE = (SELECT PAR_VAL FROM PARAMETRE (NOLOCK) WHERE PAR_NOM = 'LANGUE'))


