SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF


-----------------------------------------------------------------------------------------
-- Fonction		: DBG_TRACEMISSION
-- Paramètre d'entrée	: 
-- Paramètre de sortie	: 
-- Descriptif		: Consultation des traces mission
-----------------------------------------------------------------------------------------

CREATE FUNCTION [dbo].[DBG_TRACEMISSION] ()
	RETURNS TABLE
AS

	RETURN (SELECT TMI_ID, TMI_DATE, LIB_LIBELLE TMI_LIBELLE, ISNULL(dbo.SPV_DECODEVALEURMISSION(TMI_DSCTRC, TMI_TYPETRC), '') TMI_DETAIL,
		TMI_IDMISSION, TMI_IDDEMANDE, TMI_PRIORITE, TMI_DATEECHEANCE, TMI_IDCHARGE, TMI_ADRSYS, TMI_ADRBASE, TMI_ADRSSBASE, TMI_IDAGV,
		TMI_AFFINAGEADRSYS, TMI_AFFINAGEADRBASE, TMI_AFFINAGEADRSSBASE, TMI_IDTACHE, TMI_OFSPROFONDEUR TMI_OFFSETPROFONDEUR, TMI_OFSNIVEAU TMI_OFFSETNIVEAU, TMI_OFSCOLONNE TMI_OFFSETCOLONNE
		FROM TRACE_MISSION (NOLOCK), TYPE_TRACE (NOLOCK), LIBELLE (NOLOCK) WHERE TMI_TYPETRC = TTC_TYPE AND LIB_TRADUCTION = TTC_IDTRADUCTION
		AND LIB_LANGUE = (SELECT PAR_VAL FROM PARAMETRE (NOLOCK) WHERE PAR_NOM = 'LANGUE'))


