SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF



-----------------------------------------------------------------------------------------
-- Fonction		: DBG_TRACEDEFAUT
-- Paramètre d'entrée	: 
-- Paramètre de sortie	: 
-- Descriptif		: Consultation des traces défaut
-----------------------------------------------------------------------------------------

CREATE FUNCTION [dbo].[DBG_TRACEDEFAUT] ()
	RETURNS TABLE
AS

	RETURN (SELECT TRD_ID, TRD_DATE, ISNULL(LIB_LIBELLE, '') TRD_LIBELLE, TRD_INFO_AGV,
		CASE TRD_TYPE WHEN 0 THEN (SELECT LIB_LIBELLE FROM DEFAUT_SPV (NOLOCK), LIBELLE (NOLOCK) WHERE DSP_ID = TRD_DEFAUT AND LIB_TRADUCTION = DSP_IDTRADUCTIONLIBELLE AND LIB_LANGUE = (SELECT PAR_VAL FROM PARAMETRE (NOLOCK) WHERE PAR_NOM = 'LANGUE'))
		ELSE (SELECT LIB_LIBELLE FROM DEFAUT_AGV (NOLOCK), INFO_AGV (NOLOCK), LIBELLE (NOLOCK) WHERE DAG_ID = TRD_DEFAUT AND IAG_ID = TRD_INFO_AGV AND LIB_TRADUCTION = DAG_IDTRADUCTIONLIBELLE
		AND LIB_LANGUE = (SELECT PAR_VAL FROM PARAMETRE (NOLOCK) WHERE PAR_NOM = 'LANGUE')) END TRD_DEFAUT
		FROM TRACE_DEFAUT (NOLOCK), TYPE_TRACE (NOLOCK), LIBELLE (NOLOCK) WHERE TRD_TYPE_TRACE = TTC_TYPE AND LIB_TRADUCTION = TTC_IDTRADUCTION
		AND LIB_LANGUE = (SELECT PAR_VAL FROM PARAMETRE (NOLOCK) WHERE PAR_NOM = 'LANGUE'))


