SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER ON



-----------------------------------------------------------------------------------------
-- Procédure		: CFG_MODEEXPLOITATION
-- Paramètre d'entrées	: @v_action : Action à mener
--			  @v_mod_id : Identifiant mode d'exploitation
--			  @v_mod_capacite : Capacité
--			  @v_mod_arret : Mode d'arrêt
--			  @v_mod_jeuregle : Identifiant jeu de règles
--			  @v_mod_jeuzone : Identifiant jeu de zones
--			  @v_lan_id : Identifiant langue
--			  @v_lib_libelle : Libellé
-- Paramètre de sorties	: @v_retour : Code de retour
--			  @v_tra_id : Identifiant traduction
-- Descriptif		: Gestion des modes d'exploitation
-----------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[CFG_MODEEXPLOITATION]
	@v_action smallint,
	@v_mod_id int,
	@v_mod_capacite tinyint,
	@v_mod_arret bit,
	@v_mod_jeuregle int,
	@v_mod_jeuzone int,
	@v_tra_id int out,
	@v_lan_id varchar(3),
	@v_lib_libelle varchar(8000),
	@v_retour smallint out
AS

IF 1 = 0
BEGIN
	-- This line will be executed if FMTONLY was initially set to ON
	SET FMTONLY OFF
	RETURN
END

DECLARE
	@v_error int

	BEGIN TRAN
	SET @v_retour = 113
	SET @v_error = 0
	IF @v_action = 0
	BEGIN
		IF NOT EXISTS (SELECT 1 FROM MODE_EXPLOITATION INNER JOIN LIBELLE ON LIB_TRADUCTION = MOD_IDTRADUCTION WHERE LIB_LANGUE = @v_lan_id AND LIB_LIBELLE = @v_lib_libelle)
		BEGIN
			IF ((@v_mod_arret = 1 AND NOT EXISTS (SELECT 1 FROM MODE_EXPLOITATION WHERE MOD_ARRET = 1 AND MOD_IDMODE <> @v_mod_id)) OR (@v_mod_arret = 0))
			BEGIN
				EXEC @v_error = LIB_TRADUCTION @v_action, @v_lan_id, @v_lib_libelle, @v_tra_id out
				IF @v_error = 0
				BEGIN
					INSERT INTO MODE_EXPLOITATION (MOD_IDMODE, MOD_IDJEUREGLE, MOD_IDJEUZONE, MOD_NBAGVMAX, MOD_IDTRADUCTION, MOD_ARRET, MOD_SYSTEME)
						SELECT (SELECT CASE SIGN(MIN(MOD_IDMODE)) WHEN -1 THEN MIN(MOD_IDMODE) - 1 ELSE -1 END FROM MODE_EXPLOITATION),
						@v_mod_jeuregle, @v_mod_jeuzone, @v_mod_capacite, @v_tra_id, @v_mod_arret, 0
					SET @v_error = @@ERROR
					IF @v_error = 0
					BEGIN
						UPDATE INFO_AGV SET IAG_MODE_EXPLOIT = (SELECT TOP 1 MOD_IDMODE FROM MODE_EXPLOITATION WHERE MOD_SYSTEME = 0 ORDER BY MOD_IDMODE DESC) WHERE IAG_MODE_EXPLOIT IS NULL
						SET @v_error = @@ERROR
						IF @v_error = 0
							SET @v_retour = 0
					END
				END
			END
			ELSE
				SET @v_retour = 1969
		END
		ELSE
			SET @v_retour = 117
	END
	ELSE IF @v_action = 1
	BEGIN
		IF NOT EXISTS (SELECT 1 FROM MODE_EXPLOITATION INNER JOIN LIBELLE ON LIB_TRADUCTION = MOD_IDTRADUCTION WHERE LIB_LANGUE = @v_lan_id AND LIB_LIBELLE = @v_lib_libelle AND MOD_IDMODE <> @v_mod_id)
		BEGIN
			IF @v_mod_arret = 0 OR (@v_mod_arret = 1 AND NOT EXISTS (SELECT 1 FROM MODE_EXPLOITATION WHERE MOD_ARRET = 1 AND MOD_IDMODE <> @v_mod_id))
			BEGIN
				UPDATE LIBELLE SET LIB_LIBELLE = @v_lib_libelle WHERE LIB_LANGUE = @v_lan_id AND LIB_TRADUCTION = @v_tra_id
				SET @v_error = @@ERROR
				IF @v_error = 0
				BEGIN
					UPDATE MODE_EXPLOITATION SET MOD_IDJEUREGLE = @v_mod_jeuregle, MOD_IDJEUZONE = @v_mod_jeuzone, MOD_NBAGVMAX = @v_mod_capacite,
						MOD_ARRET = @v_mod_arret WHERE MOD_IDMODE = @v_mod_id
					SET @v_error = @@ERROR
					IF @v_error = 0
						SET @v_retour = 0
				END
			END
			ELSE
				SET @v_retour = 1969
		END
		ELSE
			SET @v_retour = 117
	END
	ELSE IF @v_action = 2
	BEGIN
		UPDATE INFO_AGV SET IAG_MODE_EXPLOIT = NULL WHERE IAG_MODE_EXPLOIT = @v_mod_id
		SET @v_error = @@ERROR
		IF @v_error = 0
		BEGIN
			DELETE PLANIFICATION WHERE PLA_MODE_EXPLOITATION = @v_mod_id
			SET @v_error = @@ERROR
			IF @v_error = 0
			BEGIN
				DELETE MODE_EXPLOITATION WHERE MOD_IDMODE = @v_mod_id
				SET @v_error = @@ERROR
				IF @v_error = 0
				BEGIN
					EXEC @v_error = LIB_TRADUCTION @v_action, NULL, NULL, @v_tra_id out
					IF @v_error = 0
						SET @v_retour = 0
				END
			END
		END
	END
	IF @v_error <> 0
		ROLLBACK TRAN
	ELSE
		COMMIT TRAN
	RETURN @v_error

