SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF

CREATE  PROCEDURE [dbo].[INT_SETMODEEXPLOITATION]
	@v_mod_idmodeexploitation int,
	@v_agv varchar(8000) = NULL
AS

IF 1 = 0
BEGIN
	-- This line will be executed if FMTONLY was initially set to ON
	SET FMTONLY OFF
	RETURN
END

-- Déclaration des variables
DECLARE
	@v_local bit,
	@v_transaction varchar(32),
	@v_error int,
	@v_status int,
	@v_retour int,
	@v_par_valeur varchar(128),
	@v_sql varchar(8000),
	@v_zne_idzone int,
	@v_zne_cap_min tinyint,
	@v_zne_cap_max tinyint,
	@v_zne_booking bit

-- Déclaration des constantes de retour
DECLARE
	@CODE_OK tinyint,
	@CODE_KO tinyint,
	@CODE_KO_INCONNU tinyint,
	@CODE_KO_SQL tinyint,
	@CODE_KO_INCOMPATIBLE tinyint,
	@CODE_KO_INTERDIT tinyint
	
-- Déclaration des constantes de mode d'exploitation
DECLARE
	@MODE_TEST int

-- Définition des constantes
	SET @CODE_OK = 0
	SET @CODE_KO = 1
	SET @CODE_KO_INCONNU = 7
	SET @CODE_KO_SQL = 13
	SET @CODE_KO_INCOMPATIBLE = 14
	SET @CODE_KO_INTERDIT = 18
	SET @MODE_TEST = 1

-- Initialisation des variables
	SET @v_transaction = 'SETMODEEXPLOITATION'
	SET @v_error = 0
	SET @v_status = @CODE_OK
	SET @v_retour = @CODE_KO

	IF @@TRANCOUNT > 0
		SET @v_local = 0
	ELSE
	BEGIN
		SET @v_local = 1
		BEGIN TRAN @v_transaction
	END
	SET CONCAT_NULL_YIELDS_NULL OFF
	-- Contrôle de l'existence du mode d'exploitation
	IF ((EXISTS (SELECT 1 FROM INT_MODE_EXPLOITATION WHERE MOD_IDMODEEXPLOITATION = @v_mod_idmodeexploitation) AND @v_mod_idmodeexploitation IS NOT NULL) OR (@v_mod_idmodeexploitation IS NULL))
	BEGIN
		-- Contrôle de l'absence d'un arrêt d'application
		SELECT @v_par_valeur = PAR_VALEUR FROM INT_PARAMETRE WHERE PAR_IDPARAMETRE = 'REMOTE_STOP'
 		IF ((@v_par_valeur = 0) OR ((@v_par_valeur <> 0) AND NOT EXISTS (SELECT 1 FROM INT_MODE_EXPLOITATION WHERE MOD_IDMODEEXPLOITATION = @v_mod_idmodeexploitation
			AND MOD_ARRET = 0)))
		BEGIN
			IF @v_agv = ''
				SET @v_agv = NULL
			IF @v_agv IS NULL
				UPDATE INFO_AGV SET IAG_MODE_EXPLOIT = @v_mod_idmodeexploitation WHERE IAG_MODE_EXPLOIT <> @MODE_TEST
			ELSE
			BEGIN
				SET @v_sql = ('UPDATE INFO_AGV SET IAG_MODE_EXPLOIT = ' + ISNULL(CONVERT(varchar, @v_mod_idmodeexploitation), 'NULL') + ' WHERE IAG_ID IN (' + @v_agv + ')')
				EXEC (@v_sql)
			END
			SET @v_error = @@ERROR
			IF @v_error = 0
			BEGIN
				-- Contrôle de la capacité
				IF ((@v_mod_idmodeexploitation IS NULL) OR (@v_mod_idmodeexploitation IS NOT NULL AND (SELECT COUNT(*) FROM INT_AGV WHERE IAG_IDMODEEXPLOITATION = @v_mod_idmodeexploitation)
					<= (SELECT MOD_CAPACITE FROM INT_MODE_EXPLOITATION WHERE MOD_IDMODEEXPLOITATION = @v_mod_idmodeexploitation)))
				BEGIN
					IF @v_agv IS NULL
					BEGIN
						DECLARE c_zone CURSOR LOCAL FAST_FORWARD FOR SELECT AZJ_ZONE, AZJ_CAP_MIN, AZJ_CAP_MAX, AZJ_BOOKING
							FROM MODE_EXPLOITATION INNER JOIN ASSOCIATION_ZONE_JEU_ZONE ON AZJ_JEU_ZONE = MOD_IDJEUZONE WHERE MOD_IDMODE = @v_mod_idmodeexploitation
						OPEN c_zone
						FETCH NEXT FROM c_zone INTO @v_zne_idzone, @v_zne_cap_min, @v_zne_cap_max, @v_zne_booking
						WHILE ((@@FETCH_STATUS = 0) AND (@v_status = @CODE_OK) AND (@v_error = 0))
						BEGIN
							EXEC @v_status = INT_SETCAPACITEZONE @v_zne_idzone = @v_zne_idzone, @v_zne_capaciteminimale = @v_zne_cap_min, @v_zne_capacitemaximale = @v_zne_cap_max
							SET @v_error = @@ERROR
							IF @v_status = @CODE_OK AND @v_error = 0
							BEGIN
								EXEC @v_status = INT_SETSURRESERVATIONZONE @v_zne_idzone = @v_zne_idzone, @v_zne_surreservation = @v_zne_booking
								SET @v_error = @@ERROR
							END
							FETCH NEXT FROM c_zone INTO @v_zne_idzone, @v_zne_cap_min, @v_zne_cap_max, @v_zne_booking
						END
						CLOSE c_zone
						DEALLOCATE c_zone
						IF @v_status = @CODE_OK AND @v_error = 0
							SET @v_retour = @CODE_OK
					END
					ELSE
						SET @v_retour = @CODE_OK
				END
				ELSE
					SET @v_retour = @CODE_KO_INTERDIT
			END
			ELSE
				SET @v_retour = @CODE_KO_SQL
		END
		ELSE
			SET @v_retour = @CODE_KO_INCOMPATIBLE
	END
	ELSE
		SET @v_retour = @CODE_KO_INCONNU
	SET CONCAT_NULL_YIELDS_NULL ON
	IF @v_local = 1
	BEGIN
		IF @v_retour <> @CODE_OK
			ROLLBACK TRAN @v_transaction
		ELSE
			COMMIT TRAN @v_transaction
	END
	RETURN @v_retour



