SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF

CREATE PROCEDURE [dbo].[INT_CREATEPRODUIT]
	@v_pro_idproduit varchar(20),
	@v_pro_produit varchar(8000),
	@v_pro_vitessemaximale smallint = 0
AS

IF 1 = 0
BEGIN
	-- This line will be executed if FMTONLY was initially set to ON
	SET FMTONLY OFF
	RETURN
END

-- Déclaration des variables
DECLARE
	@v_local bit,
	@v_transaction varchar(32),
	@v_error int,
	@v_status int,
	@v_retour int,
	@v_tra_idtraduction int,
	@v_par_valeur varchar(128)

-- Déclaration des constantes de retour
DECLARE
	@CODE_OK tinyint,
	@CODE_KO tinyint,
	@CODE_KO_EXISTANT tinyint,
	@CODE_KO_SQL tinyint

-- Définition des constantes
	SELECT @CODE_OK = 0
	SELECT @CODE_KO = 1
	SELECT @CODE_KO_EXISTANT = 3
	SELECT @CODE_KO_SQL = 13

-- Initialisation des variables
	SELECT @v_transaction = 'CREATEPRODUIT'
	SELECT @v_error = 0
	SELECT @v_status = @CODE_KO
	SELECT @v_retour = @CODE_KO

	IF @@TRANCOUNT > 0
		SELECT @v_local = 0
	ELSE
	BEGIN
		SELECT @v_local = 1
		BEGIN TRAN @v_transaction
	END
	-- Contrôle de l'unicité du produit
	IF NOT EXISTS (SELECT 1 FROM INT_PRODUIT WHERE PRO_IDPRODUIT = @v_pro_idproduit)
	BEGIN
		SELECT @v_par_valeur = PAR_VALEUR FROM INT_PARAMETRE WHERE PAR_IDPARAMETRE = 'LANGUE'
		EXEC @v_status = LIB_TRADUCTION 0, @v_par_valeur, @v_pro_produit, @v_tra_idtraduction out
		SELECT @v_error = @@ERROR
		IF @v_status = @CODE_OK AND @v_error = 0
		BEGIN
			INSERT INTO PRODUIT (PRO_ID, PRO_TRADUCTION, PRO_VITESSEMAXIMALE) VALUES (@v_pro_idproduit, @v_tra_idtraduction, @v_pro_vitessemaximale)
			SELECT @v_error = @@ERROR
			IF @v_error = 0
				SELECT @v_retour = @CODE_OK
			ELSE
				SELECT @v_retour = @CODE_KO_SQL
		END
		ELSE
			SELECT @v_retour = CASE @v_status WHEN @CODE_OK THEN @v_error ELSE @v_status END
	END
	ELSE
		SELECT @v_retour = @CODE_KO_EXISTANT
	IF @v_local = 1
	BEGIN
		IF @v_retour <> @CODE_OK
			ROLLBACK TRAN @v_transaction
		ELSE
			COMMIT TRAN @v_transaction
	END
	RETURN @v_retour



