SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF


-----------------------------------------------------------------------------------------
-- Procedure		: SPV_LIMITATIONVITESSE
-- Paramètre d'entrée	: 
-- Paramètre de sortie	: 
-- Descriptif		: Demande de limitation de la vitesse des AGV
-----------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[SPV_LIMITATIONVITESSE]
AS

IF 1 = 0
BEGIN
	-- This line will be executed if FMTONLY was initially set to ON
	SET FMTONLY OFF
	RETURN
END

	SELECT IAG_ID, CONVERT(bit, CASE IAG_LIMITATIONVITESSE WHEN 0 THEN CASE WHEN ISNULL(CHG_VITESSEMAXIMALE, 0) <> 0 THEN 1 ELSE 0 END ELSE IAG_LIMITATIONVITESSE END) IAG_LIMITATIONVITESSE,
		CASE IAG_LIMITATIONVITESSE WHEN 0 THEN CASE WHEN ISNULL(CHG_VITESSEMAXIMALE, 0) <> 0 THEN ISNULL(CHG_VITESSEMAXIMALE, 0) ELSE 0 END ELSE CASE ISNULL(CHG_VITESSEMAXIMALE, 0) WHEN 0 THEN IAG_VITESSEMAXIMALE ELSE CASE WHEN IAG_VITESSEMAXIMALE < ISNULL(CHG_VITESSEMAXIMALE, 0) THEN IAG_VITESSEMAXIMALE ELSE ISNULL(CHG_VITESSEMAXIMALE, 0) END END END IAG_VITESSEMAXIMALE,
		CASE IAG_LIMITATIONVITESSE WHEN 0 THEN CASE WHEN ISNULL(CHG_VITESSEMAXIMALE, 0) <> 0 THEN 1 ELSE 0 END ELSE CASE ISNULL(CHG_VITESSEMAXIMALE, 0) WHEN 0 THEN 2 ELSE CASE WHEN IAG_VITESSEMAXIMALE < ISNULL(CHG_VITESSEMAXIMALE, 0) THEN 2 ELSE 1 END END END IAG_MOTIF
		FROM (SELECT IAG_ID, IAG_LIMITATIONVITESSE, IAG_VITESSEMAXIMALE,
		(SELECT CASE WHEN MIN(CHG_VITESSEMAXIMALE) <> 0 AND ISNULL(MIN(PRO_VITESSEMAXIMALE), 0) <> 0 THEN CASE WHEN MIN(CHG_VITESSEMAXIMALE) < ISNULL(MIN(PRO_VITESSEMAXIMALE), 0) THEN MIN(CHG_VITESSEMAXIMALE) ELSE ISNULL(MIN(PRO_VITESSEMAXIMALE), 0) END
		ELSE CASE WHEN MIN(CHG_VITESSEMAXIMALE) <> 0 THEN MIN(CHG_VITESSEMAXIMALE) ELSE ISNULL(MIN(PRO_VITESSEMAXIMALE), 0) END END
		FROM BASE INNER JOIN ADRESSE ON ADR_SYSTEME = BAS_SYSTEME AND ADR_BASE = BAS_BASE
		INNER JOIN CHARGE ON CHG_ADR_KEYSYS = ADR_SYSTEME AND CHG_ADR_KEYBASE = ADR_BASE AND CHG_ADR_KEYSSBASE = ADR_SOUSBASE
		LEFT OUTER JOIN PRODUIT ON PRO_ID = CHG_PRODUIT
		WHERE BAS_TYPE_MAGASIN = 1 AND BAS_MAGASIN = IAG_ID AND CHG_TODESTROY = 0 AND ((CHG_VITESSEMAXIMALE <> 0) OR (ISNULL(PRO_VITESSEMAXIMALE, 0) <> 0))) CHG_VITESSEMAXIMALE
		FROM INFO_AGV) INFO_AGV

