SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER ON


-----------------------------------------------------------------------------------------
-- Procédure		: SPV_SETCRITERECALCULEMISSION
-- Paramètre d'entrée	: @v_cri_idcritere : Identifiant critère
--			  @v_iag_idagv : Identifiant AGV
--			  @v_cri_parametre : Paramètres
-- Paramètres de sortie	: Valeur de retour :
--			    @CODE_OK : Réussite
--			    @CODE_KO : Echec
--			    @CODE_INCONNU : Critère de mission inconnu
--			    @CODE_KO_SQL : Erreur SQL
-- Descriptif		: Evaluation des critères de missions calculés
-----------------------------------------------------------------------------------------
-- Révisions									
-----------------------------------------------------------------------------------------
-- Date			: 18/06/2007
-- Auteur		: Cédric LE FRINGERE
-- Libellé			: Création de la procédure
-----------------------------------------------------------------------------------------
-- Date			: 04/09/2007
-- Auteur		: Cédric LE FRINGERE
-- Libellé			: Correction du calcul
-----------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[SPV_SETCRITERECALCULEMISSION]
	@v_cri_idcritere int,
	@v_iag_idagv tinyint,
	@v_cri_parametre varchar(3500)
AS

IF 1 = 0
BEGIN
	-- This line will be executed if FMTONLY was initially set to ON
	SET FMTONLY OFF
	RETURN
END

-- Déclaration des variables
DECLARE
	@v_error int,
	@v_status int,
	@v_retour int,
	@v_mis_idmission int,
	@v_tac_idsysteme bigint,
	@v_tac_idbase bigint,
	@v_crm_valeur varchar(8000)

-- Déclaration des constantes de retour
DECLARE
	@CODE_OK int,
	@CODE_KO int

-- Déclaration des constantes d'états et descriptions
DECLARE
	@ETAT_ENATTENTE tinyint,
	@DESC_ENVOYE tinyint,
	@ETAT_SOUS_CAPACITE tinyint,
	@ETAT_NORMAL tinyint,
	@ETAT_PLEIN tinyint,
	@ETAT_SUR_CAPACITE tinyint

-- Déclaration des constantes de critères
DECLARE
	@CRIT_NOMBREAGVSDESTINATIONPREMIERETACHEMISSION tinyint,
	@CRIT_NOMBREAGVSDESTINATIONDERNIERETACHEMISSION tinyint,
	@CRIT_ETATZONEPREMIERETACHEMISSION tinyint,
	@CRIT_ETATZONEDERNIERETACHEMISSION tinyint,
	@CRIT_NOMBREAGVSDESTINATIONZONEPREMIERETACHEMISSION tinyint,
	@CRIT_NOMBREAGVSDESTINATIONZONEDERNIERETACHEMISSION tinyint

-- Définition des constantes
	SET @CODE_OK = 0
	SET @CODE_KO = 1
	SET @ETAT_ENATTENTE = 1
	SET @DESC_ENVOYE = 13
	SET @ETAT_SOUS_CAPACITE = 0
	SET @ETAT_NORMAL = 1
	SET @ETAT_PLEIN = 2
	SET @ETAT_SUR_CAPACITE = 3
	SET @CRIT_NOMBREAGVSDESTINATIONPREMIERETACHEMISSION = 126
	SET @CRIT_NOMBREAGVSDESTINATIONDERNIERETACHEMISSION = 127
	SET @CRIT_ETATZONEPREMIERETACHEMISSION = 148
	SET @CRIT_ETATZONEDERNIERETACHEMISSION = 149
	SET @CRIT_NOMBREAGVSDESTINATIONZONEPREMIERETACHEMISSION = 150
	SET @CRIT_NOMBREAGVSDESTINATIONZONEDERNIERETACHEMISSION = 151

-- Initialisation de la variable de retour
	SET @v_error = 0
	SET @v_status = @CODE_KO
	SET @v_retour = @CODE_KO

	BEGIN TRAN
	IF @v_cri_idcritere IN (@CRIT_NOMBREAGVSDESTINATIONPREMIERETACHEMISSION, @CRIT_NOMBREAGVSDESTINATIONDERNIERETACHEMISSION,
		@CRIT_NOMBREAGVSDESTINATIONZONEPREMIERETACHEMISSION, @CRIT_NOMBREAGVSDESTINATIONZONEDERNIERETACHEMISSION,
		@CRIT_ETATZONEPREMIERETACHEMISSION, @CRIT_ETATZONEDERNIERETACHEMISSION)
	BEGIN
		IF @v_cri_idcritere IN (@CRIT_NOMBREAGVSDESTINATIONPREMIERETACHEMISSION, @CRIT_NOMBREAGVSDESTINATIONZONEPREMIERETACHEMISSION, @CRIT_ETATZONEPREMIERETACHEMISSION)
			DECLARE c_mission CURSOR LOCAL FAST_FORWARD FOR SELECT MIS_IDMISSION, TAC_IDADRSYS, TAC_IDADRBASE
				FROM MISSION, TACHE WHERE MIS_IDETAT = 1 AND TAC_IDMISSION = MIS_IDMISSION
				AND TAC_POSITION_TACHE = 1
				AND NOT EXISTS (SELECT 1 FROM TACHE WHERE TAC_IDMISSION = MIS_IDMISSION AND TAC_IDORDRE IS NOT NULL)
		ELSE IF @v_cri_idcritere IN (@CRIT_NOMBREAGVSDESTINATIONDERNIERETACHEMISSION, @CRIT_NOMBREAGVSDESTINATIONZONEDERNIERETACHEMISSION, @CRIT_ETATZONEDERNIERETACHEMISSION)
			DECLARE c_mission CURSOR LOCAL FAST_FORWARD FOR SELECT MIS_IDMISSION, TAC_IDADRSYS, TAC_IDADRBASE
				FROM MISSION, TACHE WHERE MIS_IDETAT = 1 AND TAC_IDMISSION = MIS_IDMISSION
				AND TAC_POSITION_TACHE = (SELECT MAX(TAC_POSITION_TACHE) FROM TACHE WHERE TAC_IDMISSION = MIS_IDMISSION)
				AND NOT EXISTS (SELECT 1 FROM TACHE WHERE TAC_IDMISSION = MIS_IDMISSION AND TAC_IDORDRE IS NOT NULL)
		OPEN c_mission
		FETCH NEXT FROM c_mission INTO @v_mis_idmission, @v_tac_idsysteme, @v_tac_idbase
		IF @@FETCH_STATUS = 0
		BEGIN
			WHILE @@FETCH_STATUS = 0
			BEGIN
				IF @v_cri_idcritere IN (@CRIT_NOMBREAGVSDESTINATIONPREMIERETACHEMISSION, @CRIT_NOMBREAGVSDESTINATIONDERNIERETACHEMISSION)
					SELECT @v_crm_valeur = COUNT(*) FROM INFO_AGV WHERE IAG_OPERATIONNEL = 'O' AND ((IAG_BASE_DEST = @v_tac_idbase
						AND NOT EXISTS (SELECT 1 FROM ORDRE_AGV WHERE ORD_IDAGV = IAG_ID AND ORD_IDETAT = @ETAT_ENATTENTE AND ORD_DSCETAT = @DESC_ENVOYE))
						OR EXISTS (SELECT 1 FROM ORDRE_AGV, TACHE WHERE ORD_IDAGV = IAG_ID AND TAC_IDORDRE = ORD_IDORDRE AND ORD_IDETAT = @ETAT_ENATTENTE AND ORD_DSCETAT = @DESC_ENVOYE
						AND TAC_IDADRSYS = @v_tac_idsysteme AND TAC_IDADRBASE = @v_tac_idbase))
				ELSE IF @v_cri_idcritere IN (@CRIT_NOMBREAGVSDESTINATIONZONEPREMIERETACHEMISSION, @CRIT_NOMBREAGVSDESTINATIONZONEDERNIERETACHEMISSION,
					@CRIT_ETATZONEPREMIERETACHEMISSION, @CRIT_ETATZONEDERNIERETACHEMISSION)
					SELECT @v_crm_valeur = COUNT(*) FROM INFO_AGV WHERE IAG_OPERATIONNEL = 'O' AND ((IAG_BASE_DEST IN (SELECT CZO_ADR_KEY_BASE FROM ZONE_CONTENU WHERE CZO_ZONE IN (SELECT CZO_ZONE FROM ZONE_CONTENU WHERE CZO_ADR_KEY_BASE = @v_tac_idbase))
						AND NOT EXISTS (SELECT 1 FROM ORDRE_AGV WHERE ORD_IDAGV = IAG_ID AND ORD_IDETAT = @ETAT_ENATTENTE AND ORD_DSCETAT = @DESC_ENVOYE))
						OR EXISTS (SELECT 1 FROM ORDRE_AGV, TACHE, (SELECT CZO_ADR_KEY_SYS, CZO_ADR_KEY_BASE FROM ZONE_CONTENU WHERE CZO_ZONE IN (SELECT CZO_ZONE FROM ZONE_CONTENU WHERE CZO_ADR_KEY_SYS = @v_tac_idsysteme AND CZO_ADR_KEY_BASE = @v_tac_idbase)) ZONE_CONTENU
						WHERE ORD_IDAGV = IAG_ID AND TAC_IDORDRE = ORD_IDORDRE AND ORD_IDETAT = @ETAT_ENATTENTE AND ORD_DSCETAT = @DESC_ENVOYE
						AND TAC_IDADRSYS = CZO_ADR_KEY_SYS AND TAC_IDADRBASE = CZO_ADR_KEY_BASE))
				IF @v_cri_idcritere IN (@CRIT_ETATZONEPREMIERETACHEMISSION, @CRIT_ETATZONEDERNIERETACHEMISSION)
					SELECT @v_crm_valeur = ISNULL(CASE WHEN @v_crm_valeur < MIN(ZNE_CAP_MIN) THEN @ETAT_SOUS_CAPACITE
						WHEN @v_crm_valeur >= MIN(ZNE_CAP_MIN) AND @v_crm_valeur < MAX(ZNE_CAP_MAX) THEN @ETAT_NORMAL
						WHEN @v_crm_valeur = MAX(ZNE_CAP_MAX) THEN @ETAT_PLEIN
						WHEN @v_crm_valeur > MAX(ZNE_CAP_MAX) THEN CASE MAX(CONVERT(int, ZNE_BOOKING)) WHEN 1 THEN @ETAT_PLEIN ELSE @ETAT_SUR_CAPACITE END END, @v_crm_valeur)
						FROM ZONE WHERE ZNE_ID IN (SELECT CZO_ZONE FROM ZONE_CONTENU WHERE CZO_ADR_KEY_SYS = @v_tac_idsysteme AND CZO_ADR_KEY_BASE = @v_tac_idbase)
				EXEC @v_status = INT_SETCRITEREMISSION @v_cri_idcritere, @v_mis_idmission, @v_crm_valeur
				SET @v_error = @@ERROR
				IF NOT (@v_status = @CODE_OK AND @v_error = 0)
				BEGIN
					SET @v_retour = CASE @v_status WHEN @CODE_OK THEN @v_error ELSE @v_status END
					BREAK
				END
				FETCH NEXT FROM c_mission INTO @v_mis_idmission, @v_tac_idsysteme, @v_tac_idbase
			END
			IF @v_status = @CODE_OK AND @v_error = 0
				SET @v_retour = @CODE_OK
		END
		ELSE
			SET @v_retour = @CODE_OK
		CLOSE c_mission
		DEALLOCATE c_mission
	END
	IF @v_retour <> @CODE_OK
		ROLLBACK TRAN
	ELSE
		COMMIT TRAN
	RETURN @v_retour



