SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER OFF


-----------------------------------------------------------------------------------------
-- Procédure		: SPV_SEQUENCE
-- Paramètre d'entrée	: @v_type : Type
-- Paramètre de sortie	: 
-- Descriptif		: Gestion des séquences synoptiques
-----------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[SPV_SEQUENCE]
	@v_type bit
AS

IF 1 = 0
BEGIN
	-- This line will be executed if FMTONLY was initially set to ON
	SET FMTONLY OFF
	RETURN
END

-- Déclaration des variables
DECLARE
	@v_lineFeed varchar(1),
	@v_syn_id bigint

-- Déclaration des constantes de types de magasins
DECLARE
	@TYPE_AGV tinyint,
	@TYPE_INTERFACE tinyint,
	@TYPE_STOCK tinyint,
	@TYPE_PARKING tinyint,
	@TYPE_PREPARATION tinyint,
	@TYPE_ENERGIE tinyint

-- Déclaration des constantes de catégories
DECLARE
	@CATE_AGV tinyint,
	@CATE_ADRESSE_INTERFACE tinyint,
	@CATE_ADRESSE_PARKING tinyint,
	@CATE_ADRESSE_STOCK tinyint,
	@CATE_CHARGE tinyint,
	@CATE_ITEM tinyint,
	@CATE_IMAGE tinyint,
	@CATE_TEXTE tinyint,
	@CATE_BASE tinyint,
	@CATE_LEGENDE tinyint,
	@CATE_ADRESSE_PREPARATION tinyint,
	@CATE_ADRESSE_ENERGIE tinyint,
	@CATE_BATTERIE tinyint,
	@CATE_PORTE tinyint,
	@CATE_SAS tinyint

-- Déclaration des constantes d'états et descriptions
DECLARE
	@ETAT_ENCOURS tinyint,
	@ETAT_STOPPE tinyint,
	@ETAT_TERMINE tinyint,
	@ETAT_ANNULE tinyint,
	@ACTI_KO bit
	
-- Déclaration des constantes de types d'actions
DECLARE
	@ACTI_PRIMAIRE bit

-- Définition des constantes
	SET @v_lineFeed = CHAR(10)
	SET @TYPE_AGV = 1
	SET @TYPE_INTERFACE = 2
	SET @TYPE_STOCK = 3
	SET @TYPE_PREPARATION = 4
	SET @TYPE_PARKING = 5
	SET @TYPE_ENERGIE = 6
	SET @CATE_AGV = 1
	SET @CATE_ADRESSE_INTERFACE = 2
	SET @CATE_ADRESSE_PARKING = 3
	SET @CATE_ADRESSE_STOCK = 4
	SET @CATE_CHARGE = 5
	SET @CATE_ITEM = 6
	SET @CATE_IMAGE = 7
	SET @CATE_TEXTE = 8
	SET @CATE_BASE = 9
	SET @CATE_ADRESSE_PREPARATION = 10
	SET @CATE_LEGENDE = 11
	SET @CATE_ADRESSE_ENERGIE = 13
	SET @CATE_BATTERIE = 14
	SET @CATE_PORTE = 15
	SET @CATE_SAS = 16
	SET @ETAT_ENCOURS = 2
	SET @ETAT_STOPPE = 3
	SET @ETAT_TERMINE = 5
	SET @ETAT_ANNULE = 6
	SET @ACTI_KO = 1
	SET @ACTI_PRIMAIRE = 0
	SET @v_syn_id = IDENT_CURRENT('SYNOPTIQUE')

	DECLARE @v_table TABLE (ID int identity (1, 1), SYN_CATEGORIE tinyint, SYN_OBJET tinyint, SYN_TRACE varchar(8000))
	-- Séquence LEGENDE
	IF EXISTS (SELECT 1 FROM LEGENDE)
		INSERT INTO @v_table (SYN_CATEGORIE, SYN_OBJET, SYN_TRACE) SELECT @CATE_LEGENDE, CASE ISNULL(ACL_ORDRE, 1) WHEN 1 THEN 0 ELSE 1 END,
			'LEG_ID=' + CONVERT(varchar, LEG_ID) + @v_lineFeed
			+ ISNULL('CNT_ID=' + CONVERT(varchar, CNT_ID), '') + @v_lineFeed
			FROM LEGENDE LEFT OUTER JOIN ASSOCIATION_CONTENU_LEGENDE ON LEG_ID = ACL_LEGENDE LEFT OUTER JOIN CONTENU ON ACL_CONTENU = CNT_ID
			ORDER BY LEG_ID, ACL_ORDRE

	-- Séquence AGV
	IF EXISTS (SELECT 1 FROM INFO_AGV)
		INSERT INTO @v_table (SYN_CATEGORIE, SYN_OBJET, SYN_TRACE) SELECT @CATE_AGV, 0, 'IAG_ID=' + CONVERT(varchar, IAG_ID) + @v_lineFeed
			+ 'IAG_POS_X=' + CONVERT(varchar, IAG_POS_X) + @v_lineFeed
			+ 'IAG_POS_Y=' + CONVERT(varchar, IAG_POS_Y) + @v_lineFeed
			+ 'IAG_POS_THETA=' + CONVERT(varchar, IAG_POS_THETA) + @v_lineFeed
			+ 'IAG_IDTRADUCTION=' + CONVERT(varchar, IAG_IDTRADUCTION) + @v_lineFeed
			+ 'TAG_SYMBOLE=' + TAG_SYMBOLE + @v_lineFeed
			+ 'IAG_OPERATIONNEL=' + IAG_OPERATIONNEL + @v_lineFeed
			+ 'IAG_CIRCUIT=' + CONVERT(varchar, IAG_CIRCUIT) + @v_lineFeed
			+ 'IAG_SERVICE=' + CONVERT(varchar, IAG_SERVICE) + @v_lineFeed
			+ 'IAG_MODE=' + CONVERT(varchar, IAG_MODE) + @v_lineFeed
			+ 'TAG_ID=' + CONVERT(varchar, TAG_ID) + @v_lineFeed
			+ (SELECT 'BAS_SYSTEME=' + CONVERT(varchar, BAS_SYSTEME) + @v_lineFeed + 'BAS_BASE=' + CONVERT(varchar, BAS_BASE) + @v_lineFeed FROM BASE WHERE BAS_TYPE_MAGASIN = @TYPE_AGV AND BAS_MAGASIN = IAG_ID AND BAS_SYSTEME = (SELECT TOP 1 SYS_SYSTEME FROM SYSTEME))
			+ 'IAG_MODE_EXPLOIT=' + ISNULL(CONVERT(varchar, MOD_IDTRADUCTION), '') + @v_lineFeed
			+ 'IAG_ENCHARGE=' + CONVERT(varchar, IAG_ENCHARGE) + @v_lineFeed
			+ 'IAG_INITIALISATION=' + ISNULL(CONVERT(varchar, IAG_INITIALISATION), '') + @v_lineFeed
			+ 'IAG_BASE_ORIG=' + ISNULL((SELECT CONVERT(varchar, BAS_IDTRADUCTION) FROM BASE WHERE BAS_SYSTEME = (SELECT TOP 1 SYS_SYSTEME FROM SYSTEME) AND BAS_BASE = IAG_BASE_ORIG), '') + @v_lineFeed
			+ 'IAG_BASE_DEST=' + ISNULL((SELECT CONVERT(varchar, BAS_IDTRADUCTION) FROM BASE WHERE BAS_SYSTEME = (SELECT TOP 1 SYS_SYSTEME FROM SYSTEME) AND BAS_BASE = IAG_BASE_DEST), '') + @v_lineFeed
			+ 'IAG_LEGENDE=' + ISNULL(CONVERT(varchar, TAG_LEGENDE), '') + @v_lineFeed
			+ 'IAG_VUE=' + ISNULL(CONVERT(varchar, TAG_VUE), '0') + @v_lineFeed
			+ 'TAG_MENU_CONTEXTUEL=' + ISNULL(CONVERT(varchar, TAG_MENU_CONTEXTUEL), '') + @v_lineFeed
			+ 'IAG_GENANT=' + ISNULL(CONVERT(varchar, IAG_GENANT), '') + @v_lineFeed
			+ 'IAG_BLOCGENANT=' + ISNULL(IAG_BLOCGENANT, '') + @v_lineFeed
			+ 'IAG_DISTANCE=' + ISNULL(CONVERT(varchar, IAG_DISTANCE), '') + @v_lineFeed
			+ 'IAG_TAUXBATTERIE=' + CONVERT(varchar, IAG_TAUXBATTERIE) + @v_lineFeed
			+ 'IAG_INTENSITEBATTERIE=' + ISNULL(CONVERT(varchar, IAG_INTENSITEBATTERIE), '') + @v_lineFeed
			+ 'IAG_TENSIONBATTERIE=' + ISNULL(CONVERT(varchar, IAG_TENSIONBATTERIE), '') + @v_lineFeed
			+ 'IAG_DECHARGE=' + CASE IAG_DECHARGE WHEN 0 THEN ISNULL(CONVERT(varchar, (SELECT TOP 1 1 FROM EVT_ENERGIE_EN_COURS WHERE EEC_AGV = IAG_ID AND EEC_ETAT IN (1, 2))), '0') ELSE CONVERT(varchar, IAG_DECHARGE) END + @v_lineFeed
			+ 'IAG_PAUSE=' + CONVERT(varchar, IAG_PAUSE) + @v_lineFeed
			+ 'IAG_LIMITATIONVITESSE=' + CONVERT(varchar, IAG_LIMITATIONVITESSE) + @v_lineFeed
			+ 'IAG_VITESSEMAXIMALE=' + CONVERT(varchar, IAG_VITESSEMAXIMALE) + @v_lineFeed
			+ 'IAG_ACTION=' + ISNULL((SELECT DISTINCT CONVERT(varchar, ACT_IDTRADUCTION) FROM ORDRE_AGV, TACHE, ASSOCIATION_TACHE_ACTION_TACHE, ACTION
					WHERE ORD_IDAGV = IAG_ID AND ORD_IDETAT = @ETAT_ENCOURS AND TAC_IDORDRE = ORD_IDORDRE AND ATA_IDTACHE = TAC_IDTACHE AND ATA_IDTYPEACTION = @ACTI_PRIMAIRE AND ACT_IDACTION = ATA_IDACTION), '') + @v_lineFeed
			+ 'IAG_POINTARRET=' + CASE IAG_ARRETPOINTARRET WHEN 0 THEN '' ELSE ISNULL(CONVERT(varchar, IAG_POINTARRET), '') END + @v_lineFeed
			+ 'IAG_ARRETDISTANCE=' + CONVERT(varchar, IAG_ARRETDISTANCE) + @v_lineFeed
			+ 'IAG_VITESSENULLE=' + CONVERT(varchar, IAG_VITESSENULLE) + @v_lineFeed
			FROM TYPE_AGV, INFO_AGV LEFT OUTER JOIN MODE_EXPLOITATION ON IAG_MODE_EXPLOIT = MOD_IDMODE
			WHERE TAG_ID = IAG_TYPE

	-- Séquence DEFAUT
	IF EXISTS (SELECT 1 FROM DEFAUT)
		INSERT INTO @v_table (SYN_CATEGORIE, SYN_OBJET, SYN_TRACE) SELECT @CATE_AGV, 1, 'IAG_ID=' + CONVERT(varchar, IAG_ID) + @v_lineFeed
			+ 'DEF_ID=' + DEF_DEFAUT + @v_lineFeed
			+ 'DEF_SENS=1' + @v_lineFeed
			+ 'DEF_TRADUCTION=' + CONVERT(varchar, DAG_IDTRADUCTIONLIBELLE) + @v_lineFeed
			FROM DEFAUT LEFT OUTER JOIN DEFAUT_AGV ON DEF_DEFAUT = DAG_ID LEFT OUTER JOIN INFO_AGV ON IAG_ID = DEF_ID
			WHERE DEF_TYPE = 1

	-- Séquence BASE
	IF EXISTS (SELECT 1 FROM BASE WHERE BAS_LIBELLE_VISIBLE = 1)
		INSERT INTO @v_table (SYN_CATEGORIE, SYN_OBJET, SYN_TRACE) SELECT @CATE_BASE, 0, 'BAS_SYSTEME=' + convert(varchar, BAS_SYSTEME) + @v_lineFeed
			+ 'BAS_BASE=' + CONVERT(varchar, BAS_BASE) + @v_lineFeed
			+ 'BAS_POS_LIBELLE_X=' + ISNULL(CONVERT(varchar, BAS_POS_LIBELLE_X), '0') + @v_lineFeed
			+ 'BAS_POS_LIBELLE_Y=' + ISNULL(CONVERT(varchar, BAS_POS_LIBELLE_Y), '0') + @v_lineFeed
			+ 'BAS_POS_LIBELLE_THETA=' + ISNULL(CONVERT(varchar, BAS_POS_LIBELLE_THETA), '0') + @v_lineFeed
			+ 'BAS_IDTRADUCTION='+ CONVERT(varchar, BAS_IDTRADUCTION) + @v_lineFeed
			FROM BASE
			WHERE BAS_LIBELLE_VISIBLE = 1 AND BAS_TYPE = 1

	-- Séquence ADRESSE
	IF EXISTS (SELECT 1 FROM BASE WHERE BAS_VISIBLE = 1 OR BAS_CHARGE_VISIBLE = 1)
		INSERT INTO @v_table (SYN_CATEGORIE, SYN_OBJET, SYN_TRACE) SELECT CASE BAS_TYPE_MAGASIN WHEN @TYPE_INTERFACE THEN @CATE_ADRESSE_INTERFACE WHEN @TYPE_STOCK THEN @CATE_ADRESSE_STOCK
			WHEN @TYPE_PARKING THEN @CATE_ADRESSE_PARKING WHEN @TYPE_PREPARATION THEN @CATE_ADRESSE_PREPARATION WHEN @TYPE_ENERGIE THEN @CATE_ADRESSE_ENERGIE END, 0,
			'ADR_SYSTEME=' + CONVERT(varchar, ADR_SYSTEME) + @v_lineFeed
			+ 'ADR_BASE=' + CONVERT(varchar, ADR_BASE) + @v_lineFeed
			+ 'ADR_SOUSBASE=' + CONVERT(varchar, ADR_SOUSBASE) + @v_lineFeed
			+ 'BAS_VISIBLE=' + CONVERT(varchar, BAS_VISIBLE) + @v_lineFeed
			+ 'BAS_SYMBOLE=' + ISNULL(BAS_SYMBOLE, '') + @v_lineFeed
			+ 'ADR_AVERIFIER=' + CONVERT(varchar, ADR_AVERIFIER) + @v_lineFeed
			+ 'ADR_RESERVATION=' + CONVERT(varchar, ADR_RESERVATION) + @v_lineFeed
			+ 'ADR_AUT_PRISE=' + CONVERT(varchar, ADR_AUT_PRISE) + @v_lineFeed
			+ 'ADR_AUT_DEPOSE=' + CONVERT(varchar, ADR_AUT_DEPOSE) + @v_lineFeed
			+ 'ADR_IDTRADUCTION=' + CONVERT(varchar, ADR_IDTRADUCTION) + @v_lineFeed			
			+ 'BAS_LEGENDE=' + ISNULL(CONVERT(varchar, BAS_LEGENDE), '') + @v_lineFeed
			+ 'BAS_VUE=' + ISNULL(CONVERT(varchar, BAS_VUE), '0') + @v_lineFeed
			+ 'BAS_MENU_CONTEXTUEL=' + ISNULL(CONVERT(varchar, BAS_MENU_CONTEXTUEL), '') + @v_lineFeed
			+ 'BAS_RAYONNAGE=' + CONVERT(varchar, ISNULL(BAS_RAYONNAGE, 0)) + @v_lineFeed
			+ 'BAS_GERBAGE=' + CONVERT(varchar, ISNULL(BAS_GERBAGE, 0)) + @v_lineFeed
			+ 'BAS_ACCUMULATION=' + CONVERT(varchar, ISNULL(BAS_ACCUMULATION, 0)) + @v_lineFeed
			+ 'STR_COUCHE=' + ISNULL(CONVERT(varchar, A.STR_COUCHE), '') + @v_lineFeed
			+ 'STR_LARGEUR=' + ISNULL(CONVERT(varchar, A.STR_LARGEUR), '') + @v_lineFeed
			+ 'STR_LONGUEUR_DEBUT_INITIALE=' + ISNULL(CONVERT(varchar, A.STR_LONGUEUR_DEBUT_INITIALE), '') + @v_lineFeed
			+ 'STR_LONGUEUR_FIN_INITIALE=' + ISNULL(CONVERT(varchar, A.STR_LONGUEUR_FIN_INITIALE), '') + @v_lineFeed
			+ 'STR_LONGUEUR_DEBUT_COURANTE=' + ISNULL(CONVERT(varchar, A.STR_LONGUEUR_DEBUT_COURANTE), '') + @v_lineFeed
			+ 'STR_LONGUEUR_FIN_COURANTE=' + ISNULL(CONVERT(varchar, A.STR_LONGUEUR_FIN_COURANTE), '') + @v_lineFeed
			+ 'STR_MIN_LONGUEUR_DEBUT_INITIALE=' + ISNULL(CONVERT(varchar, (SELECT MIN(B.STR_LONGUEUR_DEBUT_INITIALE) FROM STRUCTURE B WHERE B.STR_SYSTEME = A.STR_SYSTEME AND B.STR_BASE = A.STR_BASE)), '') + @v_lineFeed
			+ 'STR_MAX_LONGUEUR_FIN_INITIALE=' + ISNULL(CONVERT(varchar, (SELECT MAX(B.STR_LONGUEUR_FIN_INITIALE) FROM STRUCTURE B WHERE B.STR_SYSTEME = A.STR_SYSTEME AND B.STR_BASE = A.STR_BASE)), '') + @v_lineFeed
			+ 'STR_AUTORISATION_PRISE=' + ISNULL(CONVERT(varchar, A.STR_AUTORISATION_PRISE), 1) + @v_lineFeed
			+ 'STR_AUTORISATION_DEPOSE=' + ISNULL(CONVERT(varchar, A.STR_AUTORISATION_DEPOSE), 1) + @v_lineFeed
			+ 'ADR_REMPLISSAGE=' + CASE WHEN ADR_EMPLACEMENT_VIDE IS NULL THEN '' ELSE CONVERT(varchar, 100 * ADR_EMPLACEMENT_OCCUPE / (ADR_EMPLACEMENT_VIDE + ADR_EMPLACEMENT_OCCUPE)) END + @v_lineFeed
			+ 'COE_SERVICE=' + ISNULL(CONVERT(varchar, COE_ENSERVICE), '') + @v_lineFeed
			+ 'COE_AFFECTATION=' + CASE BAS_TYPE_MAGASIN WHEN @TYPE_ENERGIE THEN ISNULL((SELECT TOP 1 ISNULL(CONVERT(varchar, CRE_IDAGV), '') FROM CONFIG_RSV_ENERGIE WHERE CRE_IDOBJ = COE_ID), '') ELSE '' END + @v_lineFeed
			FROM ADRESSE LEFT OUTER JOIN STRUCTURE A ON A.STR_SYSTEME = ADR_SYSTEME AND A.STR_BASE = ADR_BASE AND A.STR_SOUSBASE = ADR_SOUSBASE
			LEFT OUTER JOIN CONFIG_OBJ_ENERGIE ON COE_ADRSYS = ADR_SYSTEME AND COE_ADRBASE = ADR_BASE AND COE_ADRSSBASE = ADR_SOUSBASE, BASE
			WHERE BAS_TYPE_MAGASIN <> @TYPE_AGV AND ADR_TYPE = 1 AND ((BAS_VISIBLE = 1) OR (BAS_CHARGE_VISIBLE = 1))
			AND BAS_SYSTEME = ADR_SYSTEME AND BAS_BASE = ADR_BASE ORDER BY A.STR_COUCHE

	-- Séquence CHARGE
	IF EXISTS(SELECT 1 FROM CHARGE WHERE CHG_TODESTROY = 0)
		INSERT INTO @v_table (SYN_CATEGORIE, SYN_OBJET, SYN_TRACE) SELECT @CATE_CHARGE, 0, 'CHG_ID=' + CONVERT(varchar, CHG_ID) + @v_lineFeed
			+ 'CHG_SYS=' + CONVERT(varchar, CHG_ADR_KEYSYS) + @v_lineFeed
			+ 'CHG_BASE=' + CONVERT(varchar, CHG_ADR_KEYBASE) + @v_lineFeed
			+ 'CHG_SSBASE=' + CONVERT(varchar, CHG_ADR_KEYSSBASE) + @v_lineFeed
			+ 'CHG_SYMBOLE=' + CHG_SYMBOLE + @v_lineFeed
			+ 'CHG_ACONTROLER=' + CONVERT(varchar, CHG_ACONTROLER) + @v_lineFeed
			+ 'CHG_POIDS=' + ISNULL(CONVERT(varchar, CHG_POIDS), '0') + @v_lineFeed
			+ 'CHG_HAUTEUR=' + ISNULL(CONVERT(varchar, CHG_HAUTEUR), '0') + @v_lineFeed
			+ 'CHG_LARGEUR=' + ISNULL(CONVERT(varchar, CHG_LARGEUR), '0') + @v_lineFeed
			+ 'CHG_LONGUEUR=' + ISNULL(CONVERT(varchar, CHG_LONGUEUR), '0') + @v_lineFeed
			+ 'CHG_IDCLIENT=' + ISNULL(CHG_IDCLIENT, CONVERT(varchar, CHG_ID)) + @v_lineFeed
			+ 'CHG_POSX=' + ISNULL(CONVERT(varchar, CHG_POSX), '0') + @v_lineFeed
			+ 'CHG_POSY=' + ISNULL(CONVERT(varchar, CHG_POSY), '0') + @v_lineFeed
			+ 'CHG_POSZ=' + ISNULL(CONVERT(varchar, CHG_POSZ), '0') + @v_lineFeed
			+ 'CHG_DATELASTOPER=' + ISNULL(CONVERT(varchar, CHG_DATELASTOPER, 103) + ' ' + CONVERT(varchar, CHG_DATELASTOPER, 108), '') + @v_lineFeed
			+ 'CHG_PRODUIT=' + ISNULL(CONVERT(varchar, PRO_TRADUCTION), '') + @v_lineFeed
			+ 'CHG_LEGENDE=' + CONVERT(varchar, CHG_LEGENDE) + @v_lineFeed
			+ 'CHG_VUE=' + ISNULL(CONVERT(varchar, CHG_VUE), '0') + @v_lineFeed
			+ 'CHG_MENU_CONTEXTUEL=' + ISNULL(CONVERT(varchar, CHG_MENU_CONTEXTUEL), '') + @v_lineFeed
			+ CONVERT(varchar(8000), (SELECT ISNULL((SELECT 'CHG_MIS_IDMISSION=' + ISNULL(CONVERT(varchar, MIS_IDMISSION), '0') + @v_lineFeed 
				+ 'CHG_MIS_IDDEMANDE=' + ISNULL(CONVERT(varchar, MIS_IDDEMANDE), '0') + @v_lineFeed
				+ 'CHG_MIS_IDETAT=' + CONVERT(varchar, ETM_IDTRADUCTION)+ @v_lineFeed
				+ 'CHG_MIS_PRIORITE=' + CONVERT(varchar, MIS_PRIORITE)+ @v_lineFeed
				+ 'CHG_MIS_DATE_CREATION=' + ISNULL(CONVERT(varchar, MIS_DATECREATION, 103) + ' ' + CONVERT(varchar, MIS_DATECREATION, 108), '') + @v_lineFeed
				+ 'CHG_MIS_DATE_ECHEANCE=' + ISNULL(CONVERT(varchar, MIS_DATEECHEANCE, 103) + ' ' + CONVERT(varchar, MIS_DATEECHEANCE, 108), '') + @v_lineFeed
				+ 'CHG_MIS_IDAGV=' + ISNULL(CONVERT(varchar, MIS_IDAGV), '-') +  @v_lineFeed
				+ 'CHG_MIS_LEGENDE=' + ISNULL(CONVERT(varchar, MIS_LEGENDE), '') +  @v_lineFeed
				+ 'CHG_MIS_DESCRIPTION=' + CASE MIS_IDETAT WHEN @ETAT_STOPPE THEN ISNULL((SELECT TOP 1 CONVERT(varchar, DEA_TRADUCTION) FROM TACHE, ASSOCIATION_TACHE_ACTION_TACHE, DESC_ETAT_ACTION
				WHERE TAC_IDMISSION = MIS_IDMISSION AND ATA_IDTACHE = TAC_IDTACHE AND ATA_IDETAT = @ACTI_KO AND DEA_ID = ATA_DESC_ETAT_ACTION
				AND ATA_VALIDATION = 1 ORDER BY TAC_POSITION_TACHE, ATA_IDTYPEACTION), '') ELSE '' END +  @v_lineFeed
				from MISSION, ETAT_MISSION
				where MIS_IDCHARGE = CHG_ID
				AND MIS_IDETAT = ETM_IDETAT AND MIS_IDETAT NOT IN (@ETAT_TERMINE, @ETAT_ANNULE)), ''))) + @v_lineFeed
			+ 'CHG_AVALIDER=' + CONVERT(varchar, CHG_AVALIDER) + @v_lineFeed
			+ 'CHG_COUCHE=' + ISNULL(CONVERT(varchar, CHG_COUCHE), '') + @v_lineFeed
			+ 'CHG_RANG=' + ISNULL(CONVERT(varchar, CHG_RANG), '') + @v_lineFeed
			+ 'CHG_FACE=' + CONVERT(varchar, CHG_FACE) + @v_lineFeed
			+ 'CHG_GABARIT=' + ISNULL(CONVERT(varchar, GBR_TRADUCTION), '') + @v_lineFeed
			+ 'CHG_EMBALLAGE=' + ISNULL(CONVERT(varchar, EMB_TRADUCTION), '') + @v_lineFeed
			+ 'CHG_STABILITE=' + ISNULL(CONVERT(varchar, CHG_STABILITE), '0') + @v_lineFeed
			+ 'CHG_POSITION=' + ISNULL(CONVERT(varchar, CHG_POSITION), '') + @v_lineFeed
			+ 'CHG_VITESSEMAXIMALE=' + CONVERT(varchar, CASE WHEN CHG_VITESSEMAXIMALE <> 0 AND ISNULL(PRO_VITESSEMAXIMALE, 0) <> 0 THEN CASE WHEN CHG_VITESSEMAXIMALE < ISNULL(PRO_VITESSEMAXIMALE, 0) THEN CHG_VITESSEMAXIMALE ELSE ISNULL(PRO_VITESSEMAXIMALE, 0) END ELSE CASE WHEN CHG_VITESSEMAXIMALE <> 0 THEN CHG_VITESSEMAXIMALE ELSE ISNULL(PRO_VITESSEMAXIMALE, 0) END END) + @v_lineFeed
			FROM CHARGE LEFT OUTER JOIN PRODUIT on CHG_PRODUIT = PRO_ID LEFT OUTER JOIN GABARIT ON GBR_ID = CHG_GABARIT
			LEFT OUTER JOIN EMBALLAGE ON EMB_ID = CHG_EMBALLAGE, ADRESSE, BASE
			WHERE CHG_TODESTROY = 0 AND CHG_ADR_KEYSYS = ADR_SYSTEME AND CHG_ADR_KEYBASE = ADR_BASE AND CHG_ADR_KEYSSBASE = ADR_SOUSBASE
			AND BAS_SYSTEME = ADR_SYSTEME AND BAS_BASE = ADR_BASE AND BAS_CHARGE_VISIBLE = 1

	-- Séquence BATTERIE
	IF EXISTS(SELECT 1 FROM BATTERIE)
		INSERT INTO @v_table (SYN_CATEGORIE, SYN_OBJET, SYN_TRACE) SELECT @CATE_BATTERIE, 0, 'BAT_ID=' + CONVERT(varchar, BAT_ID) + @v_lineFeed
			+ 'BAT_SYSTEME=' + CONVERT(varchar, ADR_SYSTEME) + @v_lineFeed
			+ 'BAT_BASE=' + CONVERT(varchar, ADR_BASE) + @v_lineFeed
			+ 'BAT_SOUSBASE=' + CONVERT(varchar, ADR_SOUSBASE) + @v_lineFeed
			+ 'BAT_SYMBOLE=' + BAT_SYMBOLE + @v_lineFeed
			+ 'BAT_MENU_CONTEXTUEL=' + ISNULL(CONVERT(varchar, BAT_MENU_CONTEXTUEL), '') + @v_lineFeed
			FROM BATTERIE INNER JOIN CONFIG_OBJ_ENERGIE ON COE_ID = BAT_CONFIG_OBJ_ENERGIE
			INNER JOIN ADRESSE ON ADR_SYSTEME = COE_ADRSYS AND ADR_BASE = COE_ADRBASE AND ADR_SOUSBASE = COE_ADRSSBASE
			INNER JOIN BASE ON BAS_SYSTEME = ADR_SYSTEME AND BAS_BASE = ADR_BASE
			WHERE BAS_VISIBLE = 1

	-- Séquence ITEM
	IF EXISTS(SELECT 1 FROM ITEM)
		INSERT INTO @v_table (SYN_CATEGORIE, SYN_OBJET, SYN_TRACE) SELECT @CATE_ITEM, 0, 'ITE_ID=' + convert(varchar, ITE_ID) + @v_lineFeed
			+ 'ITE_X=' + CONVERT(varchar, ITE_X) + @v_lineFeed
			+ 'ITE_Y=' + CONVERT(varchar, ITE_Y) + @v_lineFeed
			+ 'ITE_THETA=' + CONVERT(varchar, ITE_THETA) + @v_lineFeed
			+ 'ITE_SYMBOLE=' + ISNULL(CASE INT_TYPE_LOG WHEN 1 THEN (SELECT ASI_SYMBOLE FROM ASSOCIATION_SYMBOLE_ITEM, ENTREE_SORTIE WHERE ITE_ENTREE_SORTIE = ESL_ID AND ASI_ITEM = ITE_ID AND ESL_ETAT = ASI_VALEUR) WHEN 5 THEN (SELECT ASI_SYMBOLE FROM ASSOCIATION_SYMBOLE_ITEM, VARIABLE_AUTOMATE WHERE ITE_VARIABLE_AUTOMATE = VAU_ID AND ASI_ITEM = ITE_ID AND VAU_VALEUR = ASI_VALEUR) ELSE NULL END, '') + @v_lineFeed
			+ 'ITE_TRADUCTION=' + CONVERT(varchar, ITE_TRADUCTION) + @v_lineFeed
			+ 'ASI_TRADUCTION=' + ISNULL(CONVERT(varchar, (CASE INT_TYPE_LOG WHEN 1 THEN (SELECT ASI_TRADUCTION FROM ASSOCIATION_SYMBOLE_ITEM, ENTREE_SORTIE WHERE ITE_ENTREE_SORTIE = ESL_ID AND ASI_ITEM = ITE_ID AND ESL_ETAT = ASI_VALEUR) WHEN 5 THEN (SELECT ASI_TRADUCTION FROM ASSOCIATION_SYMBOLE_ITEM, VARIABLE_AUTOMATE WHERE ITE_VARIABLE_AUTOMATE = VAU_ID AND ASI_ITEM = ITE_ID AND VAU_VALEUR = ASI_VALEUR) ELSE NULL END)), '') + @v_lineFeed
			+ 'ITE_VALEUR=' + ISNULL(CONVERT(varchar, (CASE INT_TYPE_LOG WHEN 1 THEN (SELECT ESL_ETAT FROM ASSOCIATION_SYMBOLE_ITEM, ENTREE_SORTIE WHERE ITE_ENTREE_SORTIE = ESL_ID AND ASI_ITEM = ITE_ID AND ESL_ETAT = ASI_VALEUR) WHEN 5 THEN (SELECT VAU_VALEUR FROM ASSOCIATION_SYMBOLE_ITEM, VARIABLE_AUTOMATE WHERE ITE_VARIABLE_AUTOMATE = VAU_ID AND ASI_ITEM = ITE_ID AND VAU_VALEUR = ASI_VALEUR) ELSE NULL END)), '') + @v_lineFeed
			+ 'VAU_ID=' + ISNULL(CONVERT(varchar, ITE_VARIABLE_AUTOMATE), '') + @v_lineFeed
			+ 'ESL_ID=' + ISNULL(CONVERT(varchar, ITE_ENTREE_SORTIE), '') + @v_lineFeed
			+ 'ITE_LEGENDE=' + ISNULL(CONVERT(varchar, ITE_LEGENDE), '') + @v_lineFeed
			+ 'ITE_VUE=' + ISNULL(CONVERT(varchar, ITE_VUE), '0') + @v_lineFeed
			+ 'ITE_MENU_CONTEXTUEL=' + ISNULL(CONVERT(varchar, ITE_MENU_CONTEXTUEL), '') + @v_lineFeed
			FROM ITEM, INTERFACE
			WHERE ITE_VISIBLE = 1 AND INT_ID_LOG = ITE_INTERFACE AND (ITE_VARIABLE_AUTOMATE IS NOT NULL OR ITE_ENTREE_SORTIE IS NOT NULL)
		
	-- Séquence TEXTE statique
	IF EXISTS (SELECT 1 FROM TEXTE WHERE TXT_TYPE = 1)
		INSERT INTO @v_table (SYN_CATEGORIE, SYN_OBJET, SYN_TRACE) SELECT @CATE_TEXTE, 0, 'TXT_ID=' + CONVERT(varchar, TXT_ID) + @v_lineFeed
			+ 'TXT_X=' + CONVERT(varchar, TXT_X) + @v_lineFeed
			+ 'TXT_Y=' + CONVERT(varchar, TXT_Y) + @v_lineFeed
			+ 'TXT_THETA=' + CONVERT(varchar, TXT_THETA) + @v_lineFeed
			+ 'AST_ATRADUIRE=1' + @v_lineFeed
			+ 'TXT_TRADUCTION=' + CONVERT(varchar, TXT_TRADUCTION) + @v_lineFeed
			+ 'AST_SYMBOLE=' + ISNULL(TXT_SYMBOLE, '') + @v_lineFeed
			+ 'AST_TAILLE=' + ISNULL(CONVERT(varchar, TXT_TAILLE), '0') + @v_lineFeed
			FROM TEXTE
			WHERE TXT_TYPE = 1 AND TXT_VISIBLE = 1
	
	-- Séquence TEXTE Dynamique
	IF EXISTS (SELECT 1 FROM TEXTE WHERE TXT_TYPE = 0)
		INSERT INTO @v_table (SYN_CATEGORIE, SYN_OBJET, SYN_TRACE) SELECT @CATE_TEXTE, 0, 'TXT_ID=' + CONVERT(varchar, TXT_ID) + @v_lineFeed
			+ 'TXT_X=' + CONVERT(varchar, TXT_X) + @v_lineFeed
			+ 'TXT_Y=' + CONVERT(varchar, TXT_Y) + @v_lineFeed
			+ 'TXT_THETA=' + CONVERT(varchar, TXT_THETA) + @v_lineFeed
			+ 'AST_ATRADUIRE=' + CASE WHEN AST_TRADUCTION IS NULL THEN '0' ELSE '1' END + @v_lineFeed
			+ 'TXT_TRADUCTION=' + ISNULL(CONVERT(varchar(128), AST_TRADUCTION), ISNULL(TXT_VALEUR, '')) + @v_lineFeed
			+ 'AST_SYMBOLE=' + ISNULL(AST_SYMBOLE, ISNULL(TXT_SYMBOLE, '')) + @v_lineFeed
			+ 'AST_TAILLE=' + ISNULL(CONVERT(varchar, AST_TAILLE), ISNULL(TXT_TAILLE, '0')) + @v_lineFeed
			FROM TEXTE LEFT OUTER JOIN ASSOCIATION_SYMBOLE_TEXTE ON AST_TEXTE = TXT_ID AND TXT_VALEUR = AST_VALEUR
			WHERE TXT_TYPE = 0 AND TXT_VISIBLE = 1

	-- Séquence IMAGE Statique
	IF EXISTS (SELECT 1 FROM IMAGE WHERE IMG_TYPE = 1)
		INSERT INTO @v_table (SYN_CATEGORIE, SYN_OBJET, SYN_TRACE) SELECT @CATE_IMAGE, 0, 'IMG_ID=' + CONVERT(varchar, IMG_ID) + @v_lineFeed
			+ 'IMG_X=' + CONVERT(varchar, IMG_X) + @v_lineFeed
			+ 'IMG_Y=' + CONVERT(varchar, IMG_Y) + @v_lineFeed
			+ 'IMG_THETA=' + CONVERT(varchar, IMG_THETA) + @v_lineFeed
			+ 'IMG_TRADUCTION=' + CONVERT(varchar, IMG_TRADUCTION) + @v_lineFeed
			+ 'IMG_SYMBOLE=' + ISNULL(IMG_SYMBOLE, '') + @v_lineFeed
			FROM IMAGE
			WHERE IMG_TYPE = 1 AND IMG_VISIBLE = 1

	-- Séquence IMAGE Dynamique
	IF EXISTS (SELECT 1 FROM IMAGE WHERE IMG_TYPE = 0)
		INSERT INTO @v_table (SYN_CATEGORIE, SYN_OBJET, SYN_TRACE) SELECT @CATE_IMAGE, 0, 'IMG_ID=' + CONVERT(varchar, IMG_ID) + @v_lineFeed
			+ 'IMG_X=' + CONVERT(varchar, IMG_X) + @v_lineFeed
			+ 'IMG_Y=' + CONVERT(varchar, IMG_Y) + @v_lineFeed
			+ 'IMG_THETA=' + CONVERT(varchar, IMG_THETA) + @v_lineFeed
			+ 'IMG_TRADUCTION=' + CONVERT(varchar, IMG_TRADUCTION) + @v_lineFeed
			+ 'IMG_SYMBOLE=' + ISNULL(ASM_SYMBOLE, ISNULL(IMG_SYMBOLE, '')) + @v_lineFeed
			FROM IMAGE LEFT OUTER JOIN ASSOCIATION_SYMBOLE_IMAGE ON ASM_IMAGE = IMG_ID AND IMG_VALEUR = ASM_VALEUR
			WHERE IMG_TYPE = 0 AND IMG_VISIBLE = 1

	-- Séquence INTERACTION
		INSERT INTO @v_table (SYN_CATEGORIE, SYN_OBJET, SYN_TRACE) SELECT @CATE_AGV, 1, 'IAG_ID=' + CONVERT(varchar, INR_DE) + @v_lineFeed
			+ 'INR_VERS=' + CONVERT(varchar, INR_VERS) + @v_lineFeed
			+ 'INR_TYPE=' + CONVERT(varchar, INR_TYPE) + @v_lineFeed
			+ 'INR_PHYSIQUE=' + ISNULL(CONVERT(varchar, INR_PHYSIQUE), '') + @v_lineFeed
			+ 'INR_LOGIQUE=' + ISNULL(CONVERT(varchar, INR_LOGIQUE), '') + @v_lineFeed
			+ 'INR_RESERVATION=' + ISNULL(CONVERT(varchar, INR_RESERVATION), '') + @v_lineFeed
			+ 'INR_BLOC=' + ISNULL(CONVERT(varchar, INR_BLOC), '') + @v_lineFeed
			FROM INTERACTION
			
	-- Séquence RESERVATION
		INSERT INTO @v_table (SYN_CATEGORIE, SYN_OBJET, SYN_TRACE) SELECT @CATE_AGV, 1, 'IAG_ID=' + CONVERT(varchar, RES_INFO_AGV) + @v_lineFeed
			+ 'RES_BLOC=' + RES_BLOC + @v_lineFeed
			+ 'RES_SENS=1' + @v_lineFeed
			FROM RESERVATION

	-- Séquence PORTE
	IF EXISTS(SELECT 1 FROM PORTE)
		INSERT INTO @v_table (SYN_CATEGORIE, SYN_OBJET, SYN_TRACE) SELECT @CATE_PORTE, 0, 'POR_ID=' + CONVERT(varchar, POR_ID) + @v_lineFeed
			+ 'POR_SERVICE=' + CONVERT(varchar, PORTE.POR_SERVICE) + @v_lineFeed
			+ 'POR_ETAT=' + ISNULL(CONVERT(varchar, POR_ETAT), '') + @v_lineFeed
			+ 'POR_COMMANDE=' + ISNULL(CONVERT(varchar, POR_COMMANDE), '') + @v_lineFeed
			+ 'POR_TRADUCTION=' + CONVERT(varchar, POR_TRADUCTION) + @v_lineFeed
			+ 'POR_MENU_CONTEXTUEL=' + ISNULL(CONVERT(varchar, POR_MENU_CONTEXTUEL), '') + @v_lineFeed
			+ 'POR_SAS=' + CONVERT(varchar, CASE WHEN EXISTS (SELECT 1 FROM ASSOCIATION_PORTE_SAS WHERE APS_PORTE = POR_ID) THEN 1 ELSE 0 END)  + @v_lineFeed
			FROM PORTE

	-- Séquence SAS
	IF EXISTS(SELECT 1 FROM SAS)
		INSERT INTO @v_table (SYN_CATEGORIE, SYN_OBJET, SYN_TRACE) SELECT @CATE_SAS, 0, 'SAS_ID=' + CONVERT(varchar, SAS_ID) + @v_lineFeed
			+ 'SAS_TRADUCTION=' + CONVERT(varchar, SAS_TRADUCTION) + @v_lineFeed
			+ 'SAS_PORTE=' + CONVERT(varchar, APS_PORTE) + @v_lineFeed
			FROM SAS INNER JOIN ASSOCIATION_PORTE_SAS ON APS_SAS = SAS_ID

	IF @v_type = 1
		SELECT @v_syn_id SYN_ID, SYN_CATEGORIE, @v_type SYN_TYPE, SYN_OBJET, SYN_TRACE FROM @v_table ORDER BY ID
	ELSE
		SELECT GETDATE() SYN_DATE, SYN_CATEGORIE, @v_type SYN_TYPE, SYN_OBJET, SYN_TRACE FROM @v_table ORDER BY ID


