SET ANSI_NULLS OFF
SET QUOTED_IDENTIFIER ON



-----------------------------------------------------------------------------------------
-- Procédure		: SPV_SETVARIABLECALCULE
-- Paramètre d'entrée	: @v_var_idvariable : Identifiant variable
--			  @v_tva_idtypevariable : Identifiant type variable
--			  @v_iag_idagv : Identifiant AGV
--			  @v_var_parametre : Paramètres
-- Paramètres de sortie	: Valeur de retour :
--			    @CODE_OK : Réussite
--			    @CODE_KO : Echec
-- Descriptif		: Evaluation des critères de missions calculés
-----------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[SPV_SETVARIABLECALCULE]
	@v_var_idvariable int,
	@v_tva_idtypevariable int,
	@v_iag_idagv tinyint,
	@v_var_parametre varchar(3500)
AS

IF 1 = 0
BEGIN
	-- This line will be executed if FMTONLY was initially set to ON
	SET FMTONLY OFF
	RETURN
END

-- Déclaration des variables
DECLARE
	@v_error int,
	@v_status int,
	@v_retour int,
	@v_mis_idmission int,
	@v_tac_idsysteme bigint,
	@v_tac_idbase bigint,
	@v_tac_idssbase bigint,
	@v_var_valeur varchar(8000)

-- Déclaration des constantes de retour
DECLARE
	@CODE_OK int,
	@CODE_KO int

-- Déclaration des constantes d'états d'ordres
DECLARE
	@ETAT_ENATTENTE tinyint

-- Déclaration des constantes de descriptions d'ordres
DECLARE
	@DESC_ENVOYE tinyint

-- Déclaration des constantes de types variables
DECLARE
	@TYPE_NOMBREAGVSDESTINATIONCOURANTEBASEPARAMETREE int,
	@TYPE_NOMBREAGVSDESTINATIONCOURANTEZONEPARAMETREE int,
	@TYPE_NOMBREAGVSDESTINATIONFUTUREBASEPARAMETREE int,
	@TYPE_NOMBREAGVSDESTINATIONFUTUREZONEPARAMETREE int,
	@TYPE_ETATZONEZONEPARAMETREE int,
	@TYPE_ETATAGV int,
	@ETAT_SOUS_CAPACITE tinyint,
	@ETAT_NORMAL tinyint,
	@ETAT_PLEIN tinyint,
	@ETAT_SUR_CAPACITE tinyint

-- Définition des constantes
	SET @CODE_OK = 0
	SET @CODE_KO = 1
	SET @ETAT_ENATTENTE = 1
	SET @DESC_ENVOYE = 13
	SET @TYPE_NOMBREAGVSDESTINATIONCOURANTEBASEPARAMETREE = 1
	SET @TYPE_NOMBREAGVSDESTINATIONCOURANTEZONEPARAMETREE = 2
	SET @TYPE_NOMBREAGVSDESTINATIONFUTUREBASEPARAMETREE = 4
	SET @TYPE_NOMBREAGVSDESTINATIONFUTUREZONEPARAMETREE = 5
	SET @TYPE_ETATZONEZONEPARAMETREE = 6
	SET @TYPE_ETATAGV = 7
	SET @ETAT_SOUS_CAPACITE = 0
	SET @ETAT_NORMAL = 1
	SET @ETAT_PLEIN = 2
	SET @ETAT_SUR_CAPACITE = 3

-- Initialisation de la variable de retour
	SET @v_error = 0
	SET @v_status = @CODE_KO
	SET @v_retour = @CODE_KO

	BEGIN TRAN
	IF @v_tva_idtypevariable IN (@TYPE_NOMBREAGVSDESTINATIONCOURANTEBASEPARAMETREE, @TYPE_NOMBREAGVSDESTINATIONCOURANTEZONEPARAMETREE,
		@TYPE_NOMBREAGVSDESTINATIONFUTUREBASEPARAMETREE, @TYPE_NOMBREAGVSDESTINATIONFUTUREZONEPARAMETREE, @TYPE_ETATZONEZONEPARAMETREE,
		@TYPE_ETATAGV)
	BEGIN
		IF @v_tva_idtypevariable = @TYPE_NOMBREAGVSDESTINATIONCOURANTEBASEPARAMETREE
			SELECT @v_var_valeur = COUNT(*) FROM INFO_AGV WHERE IAG_OPERATIONNEL = 'O' AND ((IAG_BASE_DEST = @v_var_parametre
				AND NOT EXISTS (SELECT 1 FROM ORDRE_AGV WHERE ORD_IDAGV = IAG_ID AND ORD_IDETAT = @ETAT_ENATTENTE AND ORD_DSCETAT = @DESC_ENVOYE))
				OR EXISTS (SELECT 1 FROM ORDRE_AGV, TACHE WHERE ORD_IDAGV = IAG_ID AND TAC_IDORDRE = ORD_IDORDRE AND ORD_IDETAT = @ETAT_ENATTENTE AND ORD_DSCETAT = @DESC_ENVOYE
				AND TAC_IDADRSYS = (SELECT TOP 1 SYS_SYSTEME FROM SYSTEME) AND TAC_IDADRBASE = @v_var_parametre))
		ELSE IF @v_tva_idtypevariable = @TYPE_NOMBREAGVSDESTINATIONCOURANTEZONEPARAMETREE
			SELECT @v_var_valeur = COUNT(*) FROM INFO_AGV WHERE IAG_OPERATIONNEL = 'O' AND ((IAG_BASE_DEST IN (SELECT CZO_ADR_KEY_BASE FROM ZONE_CONTENU WHERE CZO_ZONE = @v_var_parametre)
				AND NOT EXISTS (SELECT 1 FROM ORDRE_AGV WHERE ORD_IDAGV = IAG_ID AND ORD_IDETAT = @ETAT_ENATTENTE AND ORD_DSCETAT = @DESC_ENVOYE))
				OR EXISTS (SELECT 1 FROM ORDRE_AGV, TACHE, ZONE_CONTENU WHERE ORD_IDAGV = IAG_ID AND TAC_IDORDRE = ORD_IDORDRE AND ORD_IDETAT = @ETAT_ENATTENTE AND ORD_DSCETAT = @DESC_ENVOYE
				AND CZO_ZONE = @v_var_parametre AND TAC_IDADRSYS = CZO_ADR_KEY_SYS AND TAC_IDADRBASE = CZO_ADR_KEY_BASE))
		ELSE IF @v_tva_idtypevariable = @TYPE_NOMBREAGVSDESTINATIONFUTUREBASEPARAMETREE
			SELECT @v_var_valeur = COUNT(*) FROM INFO_AGV WHERE IAG_OPERATIONNEL = 'O' AND ((IAG_BASE_DEST = @v_var_parametre
				AND NOT EXISTS (SELECT 1 FROM ORDRE_AGV WHERE ORD_IDAGV = IAG_ID))
				OR EXISTS (SELECT 1 FROM ORDRE_AGV, TACHE WHERE ORD_IDAGV = IAG_ID AND TAC_IDORDRE = ORD_IDORDRE
				AND TAC_IDADRSYS = (SELECT TOP 1 SYS_SYSTEME FROM SYSTEME) AND TAC_IDADRBASE = @v_var_parametre))
		ELSE IF @v_tva_idtypevariable = @TYPE_NOMBREAGVSDESTINATIONFUTUREZONEPARAMETREE
			SELECT @v_var_valeur = COUNT(*) FROM INFO_AGV WHERE IAG_OPERATIONNEL = 'O' AND ((IAG_BASE_DEST IN (SELECT CZO_ADR_KEY_BASE FROM ZONE_CONTENU WHERE CZO_ZONE = @v_var_parametre)
				AND NOT EXISTS (SELECT 1 FROM ORDRE_AGV WHERE ORD_IDAGV = IAG_ID))
				OR EXISTS (SELECT 1 FROM ORDRE_AGV, TACHE, ZONE_CONTENU WHERE ORD_IDAGV = IAG_ID AND TAC_IDORDRE = ORD_IDORDRE
				AND CZO_ZONE = @v_var_parametre AND TAC_IDADRSYS = CZO_ADR_KEY_SYS AND TAC_IDADRBASE = CZO_ADR_KEY_BASE))
		ELSE IF @v_tva_idtypevariable = @TYPE_ETATZONEZONEPARAMETREE
		BEGIN
			SELECT @v_var_valeur = COUNT(*) FROM INFO_AGV WHERE IAG_OPERATIONNEL = 'O' AND ((IAG_BASE_DEST IN (SELECT CZO_ADR_KEY_BASE FROM ZONE_CONTENU WHERE CZO_ZONE = @v_var_parametre)
				AND NOT EXISTS (SELECT 1 FROM ORDRE_AGV WHERE ORD_IDAGV = IAG_ID AND ORD_IDETAT = @ETAT_ENATTENTE AND ORD_DSCETAT = @DESC_ENVOYE))
				OR EXISTS (SELECT 1 FROM ORDRE_AGV, TACHE, (SELECT CZO_ADR_KEY_SYS, CZO_ADR_KEY_BASE FROM ZONE_CONTENU WHERE CZO_ZONE = @v_var_parametre) ZONE_CONTENU
				WHERE ORD_IDAGV = IAG_ID AND TAC_IDORDRE = ORD_IDORDRE AND ORD_IDETAT = @ETAT_ENATTENTE AND ORD_DSCETAT = @DESC_ENVOYE
				AND TAC_IDADRSYS = CZO_ADR_KEY_SYS AND TAC_IDADRBASE = CZO_ADR_KEY_BASE))
			SELECT @v_var_valeur = CASE WHEN CONVERT(tinyint, @v_var_valeur) < ZNE_CAP_MIN THEN @ETAT_SOUS_CAPACITE
				WHEN CONVERT(tinyint, @v_var_valeur) >= ZNE_CAP_MIN AND CONVERT(tinyint, @v_var_valeur) < ZNE_CAP_MAX THEN @ETAT_NORMAL
				WHEN CONVERT(tinyint, @v_var_valeur) = ZNE_CAP_MAX THEN @ETAT_PLEIN
				WHEN CONVERT(tinyint, @v_var_valeur) > ZNE_CAP_MAX THEN CASE ZNE_BOOKING WHEN 1 THEN @ETAT_PLEIN ELSE @ETAT_SUR_CAPACITE END END
				FROM ZONE WHERE ZNE_ID = @v_var_parametre
		END
		ELSE IF @v_tva_idtypevariable = @TYPE_ETATAGV
			EXEC SPV_GETETATAGV @v_iag_idagv, @v_var_valeur out
		EXEC @v_status = INT_SETVARIABLE @v_var_idvariable, @v_var_valeur
		SELECT @v_error = @@ERROR
		IF @v_status = @CODE_OK AND @v_error = 0
			SELECT @v_retour = @CODE_OK
		ELSE
			SELECT @v_retour = CASE @v_status WHEN @CODE_OK THEN @v_error ELSE @v_status END
	END
	IF @v_retour <> @CODE_OK
		ROLLBACK TRAN
	ELSE
		COMMIT TRAN
	RETURN @v_retour


