SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER OFF


-----------------------------------------------------------------------------------------
-- Procédure		: SPV_SETTRACEEXPLOITATION
-- Paramètre d'entrée	: @v_typeTrace : Type de la trace à écrire
--			  @v_idMode : Identifiant du mode d'exploitation
--			  @v_idAgv : Identifiant de l'agv
-- Paramètres de sortie : Code de retour par défaut
--			    - @CODE_OK : L'operation s'est executée correctement
--			    - @CODE_KO_SQL : Une erreur SQL s'est produite lors de l'operation
--			    - @CODE_KO_PARAM : Le type de trace n'est pas connu
-- Descriptif           : Cette procédure permet d'ajouter une trace mode d'exploitation
-----------------------------------------------------------------------------------------

CREATE PROCEDURE [dbo].[SPV_SETTRACEEXPLOITATION]
	@v_typeTrace integer,
	@v_idMode int,
	@v_idAgv tinyint
AS

IF 1 = 0
BEGIN
	-- This line will be executed if FMTONLY was initially set to ON
	SET FMTONLY OFF
	RETURN
END

--déclaration des variables
declare @v_codeRetour integer

-- déclaration des constantes de code retour 
declare @CODE_OK integer
declare @CODE_KO_SQL integer
declare @CODE_KO_PARAM integer

-- déclaration des constantes de type de trace exploitation
declare @CHANGE_MODE tinyint     -- Changement mode exploitation

--définition des constantes de code retour 
set @CODE_OK = 0
set @CODE_KO_SQL = 13
set @CODE_KO_PARAM = 8

-- définition des constantes de type de trace exploitation
set @CHANGE_MODE = 13

-- initialisation des variables
set @v_codeRetour = @CODE_OK

-- controle des types
if  (@v_typeTrace<>@CHANGE_MODE)
begin
  set @v_codeRetour = @CODE_KO_PARAM
end

if @v_codeRetour = @CODE_OK
begin
  -- Ecriture des traces de lancement mode exploitation
  if (@v_typeTrace = @CHANGE_MODE)
  begin
    insert into TRACE_EXPLOITATION(TEX_Date,TEX_TypeTrc,TEX_IdMode,TEX_IdAgv)
    values(getDate(),@CHANGE_MODE,isNULL(@v_idMode,0),@v_idAgv)
    if @@ERROR <> 0
    begin
      set @v_codeRetour = @CODE_KO_SQL    
    end
  end
end


return @v_codeRetour 		







